.css-ljsRJZ {
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-width: 0px;
    border-style: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    appearance: none;
    transition-property: background;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    cursor: pointer;
    margin: 0px;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 30px;
    padding: 10px 12px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
}
.link:hover{
    background-color: rgba(255, 255, 255, 0.178);
    
    border-radius: 50px;
}
